/*------------------- common -----------------------*/
* {
  box-sizing: border-box; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    z-index: -1; } }

.wrapper {
  margin: 0 auto;
  max-width: 1200px; }

a:hover {
  color: crimson; }

section {
  padding: 80px 30px 0px; }

/*------------------- portfolio -----------------------*/
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 240px 0; }

header {
  text-align: center; }
  header h2 {
    font-size: 1.4rem;
    letter-spacing: 0.5rem; }
  header nav {
    margin-top: 1.2rem;
    color: #888; }
    header nav a {
      margin: 0 1.5rem; }

a {
  text-decoration: none;
  color: inherit; }

#works {
  flex-grow: 1;
  overflow: hidden;
  text-align: left;
  display: flex;
  justify-content: center; }
  #works li {
    margin: 50px;
    letter-spacing: -1px; }
    #works li img {
      float: left;
      width: 40%;
      margin-right: 50px;
      margin-left: 200px; }
    #works li .description {
      float: left;
      overflow: hidden;
      margin-top: 10px; }
      #works li .description h1 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 28px;
        color: #888; }
      #works li .description p {
        font-size: 14px; }

/*------------------- profile -----------------------*/
#profile {
  padding-top: 150px;
  padding-left: 30%; }
  #profile li {
    line-height: 20px; }

article {
  margin-bottom: 50px; }
  article h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #888; }
  article .year {
    font-size: 14px;
    color: #aaa; }
  article a {
    text-decoration: underline; }

ul {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px; }

/*------------------- footer -----------------------*/
footer {
  margin: 30px 0; }
  footer p {
    text-align: right;
    margin-right: 20px; }

/*------------------- responsive -----------------------*/
@media (max-width: 1080px) {
  #works li {
    width: 100%; }
    #works li img {
      float: none;
      display: block;
      width: 100%;
      max-width: 614px;
      margin: 0 auto; }
    #works li .description {
      clear: both;
      float: none;
      width: 100%;
      margin: 0 auto;
      text-align: center; }
  #profile {
    padding-left: 20px; } }

#works {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10vh 0; }
  #works li {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #works li .launcher-place-holder {
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0.5rem; }

.launcher {
  font-size: 5vh;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eee;
  border-radius: 24px;
  margin-bottom: 4px;
  background: #fff;
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  flex-direction: column; }
  .launcher .launcher-control-bar {
    display: none; }
  .launcher.opened {
    border: none;
    z-index: 1;
    transform: translate(0, 0) !important;
    font-size: 10rem;
    width: 100vw !important;
    height: 100vh !important;
    border-radius: 0; }
    .launcher.opened .launcher-icon {
      animation: fadeOut 0.5s forwards; }
    .launcher.opened .launcher-control-bar {
      letter-spacing: 0;
      height: 50px;
      width: 100%;
      background-color: #444;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      color: #fff;
      font-weight: normal;
      font-size: 16px; }
      .launcher.opened .launcher-control-bar .close-btn {
        background-color: transparent;
        z-index: 1;
        border: none;
        font-size: 22px;
        outline-width: 0;
        cursor: pointer;
        opacity: 0.8;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center; }
        .launcher.opened .launcher-control-bar .close-btn:hover {
          opacity: 1; }
    .launcher.opened iframe {
      display: block; }
  .launcher:hover {
    background-color: #fafafa; }
  .launcher .launcher-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa; }
    .launcher .launcher-icon:hover {
      background-color: #f5f5f5; }
  .launcher iframe {
    width: 100%;
    flex-grow: 1;
    display: none; }

#iframe-wrapper {
  display: none;
  position: fixed;
  left: 0;
  top: 80px;
  z-index: 1;
  background-color: #fff; }
  #iframe-wrapper.show {
    display: block; }

.launcher.launched {
  transition: all 0.3s; }
